@model WebApplication4.Models.Post
@using WebApplication4.Models
@using Microsoft.AspNet.Identity.EntityFramework
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string FileExtension;
    ViewBag.Title = "index";
    ApplicationDbContext context = new ApplicationDbContext();
}


        <div class="jumbotron mt-5">

            <div class="row text-left">
                <h1 class="col-10 mt-4 mb-2 ml-auto mr-auto">
                    @Model.Title

                </h1>
                <small class="col-10 mt-2 ml-auto mr-auto">Posted by  <a href="~/Channel/Index/@Model.Pastor.Id">@Model.Pastor.UserName</a></small>
                <small class="col-10 mt-2 ml-auto mr-auto">Posted at @Model.Date.ToShortDateString() @Model.Date.ToShortTimeString()</small>
                <div class="row mt-2 ml-auto mr-auto col-10">
                    <p>
                        Category:
                        @foreach (Category j in Model.Categories)
                        {
                            string text = j.Name + " ";
                            @text
                        }

                    </p>
                </div>

            </div>

            <div class="row text-center pt-5 pb-5">
                @foreach (PostFile i in Model.Files)
                {
                    FileExtension = Path.GetExtension("~/Files/PostFiles/" + i.FileName);
                    if (FileExtension == ".jpg" || FileExtension == ".png")
                    {
                        <img class="col-10 mb-2 offset-1" src="~/Files/PostFiles/@i.FileName" alt="Alternate Text" />
                    }
                    else if (FileExtension == ".mp4")
                    {
                        <video class="col-10 offset-1" controls="controls">
                            <source src="~/Files/PostFiles/@i.FileName" type="video/mp4" />
                        </video>
                    }
                }
            </div>

            <div class="row">
                <p class="col-10 text-left ml-auto mr-auto">@Model.Text</p>
            </div>



        </div>




<div class="jumbotron">
    <div class="text-left pt-2 pb-2 row text-center row">
        <h4 class="col-12">Comments</h4>
    </div>

    @if (!User.Identity.IsAuthenticated)
    {
        <div class=" pt-2 pb-2 row text-center row">
            <h6 class="col-12">To comment please <a href="/Account/Login">login</a> or <a href="/Account/Login">register</a></h6>
        </div>
    }
    else
    {

        using(Ajax.BeginForm("BookSearch", new AjaxOptions { UpdateTargetId = "results", OnSuccess = "document.getElementById('name').value='';" }))
        {
        }
            <form class="text-left pt-2 pb-2 row text-center row" data-ajax-success="document.getElementById('Text').value='';" action="/View/WriteComment" data-ajax="true" data-ajax-mode="before" data-ajax-update="#CommentArea" id="form0" method="post">
                <input type="hidden" name="Id" value="@Model.Id" />
                <textarea name="Text" id="Text" class="col-11" rows="9"></textarea>
                <input type="submit" class="col-1 btn btn-outline-primary" value="Send" />
            </form>
        }

    <div class="text-left pt-2 pb-2 row" id="CommentArea">

        @foreach (var i in Model.Comments.OrderByDescending(i => i.Date))
        {
            <div class="row col-12 mt-5">
                <div class="col-1">
                    <img src="~/Files/Avatars/@i.User.AvatarImage" class="rounded-circle" height="70" width="70" />
                </div>
                <div class="col-9">
                    <strong>@i.User.UserName</strong>
                    <small class="ml-1">@i.Date.ToShortDateString() @i.Date.ToShortTimeString()</small>
                    <div class="col-12 ">
                        @i.Text
                    </div>
                </div>
            </div>
        }


    </div>

</div>



