@model WebApplication4.Models.Post
@using WebApplication4.Models
@{
    string FileExtension;
    ViewBag.Title = "index";
    string Style = "style = \"border-bottom: 4px solid black;\"";
}


    <div class="jumbotron mt-5">

        <div class="row text-center" style="border-bottom: 4px solid black; border-top: 4px solid black;">
            <h1 class="col-12 mt-4 mb-2">
                @Model.Title
            </h1>

            <img src="~/Files/Avatars/@Model.Pastor.AvatarImage" class="mb-2 ml-auto mr-auto text-center rounded-circle" height="100" width="100" /><span class="caret"></span>

            <h6 class="col-12">Autor: <a href="~/Channel/Index/@Model.Pastor.Id" class="">@Model.Pastor.UserName</a></h6>
            <h6 class="col-12 mb-4">
                Category: @foreach (Category j in Model.Categories)
                {
                    @j.Name
                }
            </h6>
            <h8 class="col-12 mb-4">Date: @Model.Date</h8>

        </div>

        <div class="row text-center pt-5 pb-5" style="border-bottom: 4px solid black;">
            @foreach (PostFile i in Model.Files)
            {
                FileExtension = Path.GetExtension("~/Files/PostFiles/" + i.FileName);
                if (FileExtension == ".jpg" || FileExtension == ".png")
                {
                    <img class="col-10 mb-2 offset-1" src="~/Files/PostFiles/@i.FileName" alt="Alternate Text" />
                }
                else if (FileExtension == ".mp4")
                {
                    <video class="col-10 offset-1" controls="controls">
                        <source src="~/Files/@i.FileName" type="video/mp4" />
                    </video>
                }
            }
        </div>

        <div class="row text-center pt-5 pb-5" @if (Model.Text.Length > 60) { @Style }>
            <p class="col-10 text-left ml-auto mr-auto" style="text-indent: 40px;">@Model.Text</p>
        </div>
</div>

    <div class="jumbotron">
        <div class="text-left pt-2 pb-2 row text-center row" style="border-bottom: 4px solid black; border-top: 4px solid black;">
            <h4 class="col-12">Comments</h4>
        </div>

            @if (!User.Identity.IsAuthenticated)
            {
                <div class=" pt-2 pb-2 row text-center row" style="border-bottom: 4px solid black;">
                    <h6 class="col-12">To comment please <a href="/Account/Login">login</a> or <a href="/Account/Login">register</a></h6>
                </div>
            }
            else
            {
                <form class="text-left pt-2 pb-2 row text-center row" style="border-bottom: 4px solid black;" method="post" action="/View/Index">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <textarea name="Text" class="col-11" rows="9"></textarea>
                    <input type="submit" class="col-1 btn btn-outline-primary" value="Send" />
                </form>
            }

    <div class="text-left pt-2 pb-2 row">
        @foreach (Comment i in Model.Comments)
        {
            <div class="row col-12 mt-5">
                <div class="col-1">
                    <img src="~/Files/Avatars/@i.User.AvatarImage" class="rounded-circle" height="70" width="70" />
                </div>
                <div class="col-9">
                    <strong>@i.User.UserName</strong>
                    <small class="ml-1">@i.Date.ToShortDateString()</small>
                    <div class="col-12 ">
                        @i.Text
                    </div>
                </div>
            </div>
        }



    </div>

    </div>



